* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.landing{
    font-family: 'Poppins', sans-serif;
    background-image: url(assets/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.landingbox {
    background: #ffffff;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgba(160, 4, 4, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 780px;
    text-align: center;
}

.logo{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.title{
    font-size: 1.9rem;
    font-weight: 600;
    color: #9b6134;
    letter-spacing: 3px;

}

.landingbox button{
    background: #74390c;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.landingbox button:hover {
    background: #c16f30;
    transform: translateY(-5px);
}


.landing-box button:active {
  transform: translateY(0);
}
