* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'times new roman';
    background: #e5a182;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.photobox {
    background-image: url(assets/bg2.jpg);
    border-radius: 18px;
    width: 100%;
    padding: 22px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}

.controls {
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.controls h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #4b2e2b;
    margin-bottom: 10px;
}

.stickers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

.sticker {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #c25757a3;
    border: 2px solid #eceae6;
    display: inline-flex;
    justify-content: center;
    margin: 6px;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.sticker img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    pointer-events: none;
}

.sticker.disabled {
  opacity: 0.4;
  pointer-events: none;
  filter: grayscale(70%);
  cursor: not-allowed;
}

button {
    font-size: 1.3rem;
    font-weight: 400;
    border: 1px solids;
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 0.4rem 0.5rem;
}




